.cover__link {
    text-decoration: none;
    background: rgba(42, 44, 47, .3);
    width: 100%;
    height: 100%;

    transition: background .5s ease-in-out;
}

.cover__link:hover {
    background: rgba(42, 44, 47, 0.8);
    
}