@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("/vendor/fonts/Inter-Black.woff2") format("woff2"),
       url("/vendor/fonts/Inter-Black.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/vendor/fonts/Inter-Black.woff2") format("woff2"),
       url("/vendor/fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/vendor/fonts/Inter-Regular.woff2") format("woff2"),
       url("/vendor/fonts/Inter-Regular.woff") format("woff");
}

.page {
  /* border: rgb(0, 255, 85) solid 2px; */

  /* display: flex;
  flex-direction: column; */

  font-family: 'Inter', 'Arial', sans-serif;
  width: 100%; 
  max-width: 1280px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
}

/* @media screen and (max-width: 1024px) {

  .page {
  max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {

  .page {
    max-width: 768px;
    }

} 

@media screen and (max-width: 425px) {

  .page {
    max-width: 425px;
    }

} */