@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("/vendor/fonts/Inter-Black.woff2") format("woff2"),
       url("/vendor/fonts/Inter-Black.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/vendor/fonts/Inter-Black.woff2") format("woff2"),
       url("/vendor/fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/vendor/fonts/Inter-Regular.woff2") format("woff2"),
       url("/vendor/fonts/Inter-Regular.woff") format("woff");
}

.page {
  display: flex;
  flex-direction: column;
  position: relative;
  
  font-family: 'Inter', 'Arial', sans-serif;
  width: 100%; 
  max-width: 1280px;
  min-width: 280px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
}