.intro__list {
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 33px;
    margin-bottom: 0;
    padding: 0;
    max-width: 74%;
}

@media screen and (max-width: 425px) {
    .intro__list {
        max-width: 100%;
    }
}