.lead {
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    grid-template-areas: 
    "lead__title"
    "lead__subtitle"
    "lead__image"
    ; */
    
    display: flex;
    flex-direction: column;
    align-items: center;    
    /* margin: 0 auto; */
    padding: 0 148px;

}

@media screen and (max-width: 1024px) {
    .lead {
    padding: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        padding: 0;
        }
}

/* @media screen and (max-width: 425px) {

.lead {

}

}  */