.cover__subtitle {
    font-family: 'Inter', Helvetica, Arial, 'DejaVu Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    box-sizing: border-box;
    margin: 32px auto;
    max-width: 40%;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        max-width: 360px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        max-width: 64%;
    }
}

@media screen and (max-width: 580px) {
    .cover__subtitle {
        max-width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin: 16px auto;
    }
}

@media screen and (max-width: 350px) {
    .cover__subtitle {
        max-width: 100%;        
    }
}