.footer__copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: right;

    color: #FFFFFF;

    margin: 0;
    padding: 0;
    flex-grow: 2;

}

@media screen and (max-width: 640px) {
    .footer__copyright {

        margin-top: 16px;
        line-height: 14px;
        justify-self: end;
    }
}