.lead__subtitle {
  font-family: 'Inter', Helvetica, Arial, 'DejaVu Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 32px auto 0;
  color: #FFF;
  max-width: 640px;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
    max-width: 45%;
  }
}

@media screen and (max-width: 590px) {
  .lead__subtitle {
    max-width: 60%;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    max-width: 90%;
    line-height: 20px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 300px) {
  .lead__subtitle {
    font-size: 12px;
    line-height: 15px;
  }
}