.footer__navigation {
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 18px;

  padding: 0;
  margin: 0;

  text-decoration: none;
  list-style: none;
}

@media screen and (max-width: 1023px) {
  .footer__navigation {
    gap: 19px;
    
  }
}

@media screen and (max-width: 767px) {
  .footer__navigation {
    flex-direction: column;
   
    gap: 32px;
  }
}