.footer {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* justify-content: flex-end; */
  margin: 0;
  padding: 24px 48px;
  gap: 18px;
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    padding: 68px 16px 24px 16px;
    gap: 32px;
  }
}