.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  padding: 34px 48px 23px 48px;
  gap: 18px;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 91px 48px 23px 48px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    gap: 19px;
    padding: 90px 23px 23px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    flex-direction: column;
    padding: 68px 16px 24px 16px;
    gap: 32px;
  }
}